services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - 3000:3000
        restart: always
        networks:
            - examina_network
        depends_on:
            - db
        environment:
            MONGO_URI: ${MONGO_URI}
            PORT: ${PORT}
            PROTOKIT_URL: ${PROTOKIT_URL}
            PINATA_API_KEY: ${PINATA_API_KEY}
            PINATA_SECRET_KEY: ${PINATA_SECRET_KEY}
            MAIL_PASSWORD: ${MAIL_PASSWORD}
        command: npm run dev
    db:
        container_name: db
        image: mongo:latest
        ports:
            - 27017:27017
        volumes:
            - mongodb_data:/data/db
        networks:
            - examina_network

volumes:
    mongodb_data:

networks:
    examina_network:
        driver: bridge
        external: true
